# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log

# Env
*.env
backend/.env

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Optional: lockfiles you don't want
.pnp.*